.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.world_list {
  width: 300px;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
}

form {
  width: 200px;
}

.world {
  width: 100px;
  height: 100px;
  display: flex;
  text-align: center;
  background-color: aqua;
}

.hidden {
  display: none;
}

div {
  max-width: 5500px;
  min-width: 1000;
}